html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrap{
    float: none;
    margin: 0;
    color: dimgray;
    font-family: "華康細圓體", sans-serif;
    background-color: WhiteSmoke;
  }
  
  .header{
    width: 100%;
    height: 50px;
    margin: 0;
    position: fixed;
    background-color: #EDF7FF;
  }
  
  .header p{
    float: left;
    font-size: 20px;  
    margin-left: 15px;
    line-height: 50px;
  }
  
  .menu li a{
    float: right;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 50px;
    color: dimgray;
    font-size: 20px;
  }
  
  .clear{
    clear: both;
  }

  .search{
    float: none;
    margin: auto;
    width: 1100px;
    height: 350px;
    background-image: url("../img/bg.png");
    background-repeat:no-repeat;
    background-size: cover;
  }

  .search h1{
    text-align: center;
    font-size: 50px;
    padding-top: 90px;
  }

  .search p {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
  }

  .inputArea{
    width: 340px;
    display: block;
    margin: auto;
    margin-top: 40px;
    position: relative;
    display: flex;
  }

  .searchTerm{
    outline: none;
    width: 100%;
    height: 40px;
    background: none;  
    border: 1px solid dimgray;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    outline: none;
    font-size: 24px;
    font-family: "華康細圓體", sans-serif;
    color: dimgray;
  }
  
  .searchBtn {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 0px;
    outline: none;
  }

  .searchBtn img{
    width: 40px;
    height: 40px;
  } 

  .content{
    width: 1100px;
    margin: auto;
    background-color:	#fff;
  }
  
  .inputItem{
    font-size: 36px;
    color: rgb(62, 133, 156);
    text-align: center;
    padding-top: 50px;
  }

  .line{
    width: 900px;
    border: 1px solid rgb(62, 133, 156);
    border-style: dashed;
    display: block;
    margin: auto;
    margin-top: 50px;
  }  

  .list{
    float: left;
    width: 1100px;
    background-color: #FFF;
  }
  
  .info{
    float: left;
    max-width: 450px;
    min-height: 230px;
    background-color: #fff;
    margin: 50px 30px 30px 85px;
    box-shadow: 0 1px 3px 0 rgba(28, 128, 185, 0.404);
    border-radius: 2px;
    font-size: 16px;
    font-family: "華康細圓體" ,sans-serif;
  }

  .info h3{
    width: 400px;
    font-size: 24px;
    margin-left: 10px;
    padding-top: 18px;
    color: rgb(15, 87, 129);
  }

  .address{
    width: 400px;
    font-size: 20px;
    margin-top: 25px;
  }

  .tel{
    width: 400px;
    font-size: 20px;
    margin-top: 25px;
  }

  .addIcon {
    width: 25px;
    height: 25px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .telIcon {
    width: 25px;
    height: 25px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .btn{
    width: 350px;
    display: block;
    margin: auto;
    margin-bottom: 30px;
  }

  .btn button{
    outline: none;
    border: 0;
    background-color: rgb(234, 245, 255);
    color: dimgray;
    font-size: 18px;
    width: 110px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin-top: 30px;
    font-family: "華康細圓體", sans-serif;
  }

  .postArea{
    padding-bottom: 30px;
  }

  .postInput{
    margin-top: 30px;
    height: 150px;
    display: table;
  }

  .postArea img{
    width: 50px;
    height: 50px;
    float: left;
    display:table-cell;
    vertical-align: middle;
    margin-left: 20px;
  }

  .postTerm{
    width: 300px;
    height: 130px;
    float: left;
    display: table-cell;
    vertical-align: middle;
    background: none;  
    border: 0.5px solid gray;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    font-family: "華康細圓體", sans-serif;
    color: dimgray;
    margin-left: 40px;
  }

  .btn2 button{
    outline: none;
    border: 0;
    background-color: rgb(234, 245, 255);
    color: dimgray;
    font-size: 18px;
    width: 60px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    font-family: "華康細圓體", sans-serif;
  }

  .btn2{
    width: 130px;
    margin-left: 40px;
  }

  .commentArea{
    padding-bottom: 30px;
  }

  .commentInput{
    margin-top: 30px;
    height: 50px;
    display: table;
  }

  .commentArea img{
    width: 50px;
    height: 50px;
    float: left;
    display:table-cell;
    vertical-align: middle;
    margin-left: 20px;
  }

  .commentTerm{
    width: 300px;
    height: 50px;
    float: left;
    display: table-cell;
    vertical-align: middle;
    background: none;  
    border: 0.5px solid gray;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    font-family: "華康細圓體", sans-serif;
    color: dimgray;
    margin-left: 40px;
  }

  .btn3 button{
    outline: none;
    border: 0;
    background-color: rgb(234, 245, 255);
    color: dimgray;
    font-size: 18px;
    width: 100px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    font-family: "華康細圓體", sans-serif;
  }

  .btn3{
    width: 300px;
    display: block;
    margin: auto;
    margin-top: 20px;
  }

  .btnOption{
    width: 300px;
    display: block;
    margin: auto;
    margin-top: 5px;
  }

  .btnOption button{
    outline: none;
    border: 0;
    background-color: rgb(234, 245, 255);
    color: dimgray;
    font-size: 16px;
    width: 85px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin-top: 8px;
    font-family: "華康細圓體", sans-serif;
  }

  .footer{
    max-width: 1100px;
    margin: auto;
    background-color: #EDF7FF;
    padding-bottom: 30px;
  }

  .left{
    max-width: 480px;
  }

  .logo{
    width: 200px;
    margin-top: 40px;
    margin-left: 85px;
  }

  .left h3{
    margin-left: 85px;
    margin-top: 30px;
    font-size: 30px;
  }

  .left p{
    margin-left: 85px;
    margin-top: 10px;
    font-size: 16px;
  }

  .right{
    max-width: 400px;
    margin-left: 535px;
    margin-top: -120px;
  }

  ::placeholder {
    color: rgb(165, 165, 165, 0.6);
  }

  .questionTerm{
    outline: none;
    margin-left: 50px;
    margin-top: 30px;
    width: 340px;
    height: 80px;
    background: transparent;  
    border: 0.1px solid dimgray;
    font-size: 16px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    font-family: "華康細圓體", sans-serif;
    color: dimgray;
  }
  
  .emailArea{
    width: 340px;
    margin-left: 50px;
    margin-top: 20px;
    position: relative;
    display: flex;
  }

  .emailTerm{
    outline: none;
    width: 100%;
    height: 40px;
    background: none;  
    border: 0.1px solid dimgray;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    font-size: 16px;
    font-family: "華康細圓體", sans-serif;
    color: dimgray;
  }
  
  .submitBtn {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 0px;
    outline: none;
  }

  .contact{
    width: 30px;
    height: 30px;
  }

  .listBtn {
    width: 2.5rem;
    height: 2.5rem;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    border-radius: 33%;
    border: 0px;
    opacity: 0.6;
    background: dimgray;
    outline: none;
  }

  .listBtn img{
    width: 1.5rem;
    height: 1.5rem;
    background-size: cover;
    background-position: bottom;
    padding-top: 0.3rem;
  }

  .mapBtn {
    width: 2.5rem;
    height: 2.5rem;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    border-radius: 33%;
    border: 0px;
    opacity: 0.6;
    background: dimgray;
    outline: none;
  }

  .mapBtn img{
    width: 1.8rem;
    height: 1.8rem;
    background-size: cover;
    background-position: inherit;
  }

  .toTop {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 33%;
    opacity: 0.6;
    background: dimgray;
    cursor: pointer;
    position: fixed;
    right: 1rem;
    bottom: 4rem;
    display: none;
  }

  .toTop::before, .toTop::after {
    width: 18px;
    height: 5px;
    border-radius: 3px;
    background: aliceblue;
    position: absolute;
    content: "";
  }

  .toTop::before {
    transform: rotate(-45deg) translate(0, -50%);
    left: 0.5rem;
  }

  .toTop::after {
    transform: rotate(45deg) translate(0, -50%);
    right: 0.5rem;
  }

  .toTop:focus {
    outline: none;
  }

  .mapContent{
    width: 1100px;
    height: 1000px;
    margin: auto;
    background-color:	#fff;
  }

  @media (max-width:1100px){
    .search{
      width: 100%;
    }

    .content{
      width: 100%;
    }

    .mapContent{
      width: 100%;
    }

    .line{
      width: 93%;
    }

    .list{
      width: 100%;
    }

    .info{
      float: none;
      margin: auto;
      margin-top: 30px;
      margin-bottom: 30px;
      width: 90%;
    }

    .left{
      width: 100%;
      margin: auto;
    }

    .right{
      width: 100%;
      margin: auto;
    }

  }